

.chatList {
    height: 670px;
}




.highlighted {
   
    background-color: #dcdcdd;
    color: #02021e;
    font-weight: bold;
}
.message-timestamp {
    font-size: 11px;
}

.msg-sent, .msg-receive {
    border-radius: 10px;
}

.borderCustom {
    border-radius: 10px;
    border: 2px solid white;
}

.bgChat {
   
    background-image: radial-gradient(#b9cadd, #1769af);
}

.bgSender {
    background-color: #0a397d;
}

.BtnHover:hover {
    background-color: darkblue;
    color: white;
}

.btn-outline-light :hover {
    background-color: black;
    color: white;
}

.bg-tr {
    background-color: darkblue !important;
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 2544px;
    }
}
/*---------------------*/
.myButtons {
    
    
    color: black;
   
}
.mynav {
    
    background-color: #ededed;
}

body {
    
    background: radial-gradient(circle at center, #ffffff, #f8f9fa);
    height: 100%;
}

.nav-item :hover {
    
    background-color: #1575ff;
    color: white;
}
.activated {
    
    background-color: #1575ff;
    color: white;
    border: 1px solid white;
}
.bg-1 {
    
    background-color: #F0F8FF;
}
.bg-2 {
    background-color: #B9D9EB;
}
.bg-header {
    background-color: #022391;
    color: white;
}
.bg-outside {
    background-color: white;
}
.chat-profile {
    background-color: #091e49;
}
.width98{
    width:80%;
    margin-right:10px;
}
li a.ClickRow, li a.ClickRowForInductionUser {
    cursor: pointer;
}
.mb-custom{
    padding-bottom: 20px;
}
ul li{
    text-decoration: none;
}
.chatListOfUser {
    background-color: #e8edf9;
}
@media (max-width: 576px) {
    .chatListOfUser, .chatListOfInductionUser {
        height: 90vh;
    }
}


@media (min-width: 577px) and (max-width: 992px) {
    .chatListOfUser, .chatListOfInductionUser {
        height: 80vh;
    }
}

@media (min-width: 993px) {
    .chatListOfUser, .chatListOfInductionUser {
        height: 70vh;
    }    
}

.BtnHover{
    height: 62px;
    width:62px;
}
.sender {
   width: 60px; 
   height: 60px; 
   background-color: #055160; 
   color: white; 
   text-align: center; 
   font-size: 24px;
}
.reciever {
   width: 60px; 
   height: 60px; 
   background-color: #016ab1; 
   color: white; 
   text-align: center; 
   font-size: 24px;
}
@media(min-width:1024px){
    .chatListOfUser, .chatListOfInductionUser {
        height: 892px;
        overflow: auto;
    }
    .sender, .reciever {
        width: 55px;
        height: 55px;
        font-size: 20px;
    }
    .userlist, .inductionUserList {
        height: 890px;
        overflow: auto;
    }
}
@media (min-width:769px) and ( max-width:1024px) {
    .sender, .reciever {
        width: 55px;
        height: 55px;
        font-size: 17px;
    }
    .chatListOfUser, .chatListOfInductionUser {
        height: 892px;
        overflow: scroll;
    }
}
@media (min-width:768px) and ( max-width:768px) {
    .sender, .reciever {
        width: 44px;
        height: 39px;
        font-size: 15px;
    }
}
@media (min-width:426px) and ( max-width:767px) {
    .userlist, .inductionUserList {
        height: 400px;
        overflow: scroll;
    }

    .chatListOfUser, .chatListOfInductionUser {
        height: 600px;
        overflow: scroll;
    }

    .BtnHover {
        height: 54px;
    }

    .sender, .reciever {
        width: 50px;
        height: 50px;
        font-size: 19px;
    }
}

@media(max-width:425px){

    .userlist, .inductionUserList {
        height: 350px;
        overflow: scroll;
    }

    .chatListOfUser, .chatListOfInductionUser {
        height: 550px;
        overflow: scroll;
    }

    .BtnHover {
        height: 54px;
    }
    .sender, .reciever {
        width: 44px;
        height: 39px;
        font-size: 15px;
    }
}